@page "/"

<PageTitle>Panadería</PageTitle>

<h1>Sistema de Gestión de Panadería</h1>

<p>Bienvenido al sistema.</p>

<div>
    <a href="/productos">Productos</a>
</div>

<div>
    <a href="/ventas">Ventas</a>
</div>

<div>
    <a href="/historial-ventas">Historial Ventas</a>
</div>