@page "/dashboard"
<div class="row">

    <div class="col-md-3">
        <div class="card border-success">
            <div class="card-body">
                <h6>Ventas Hoy</h6>
                <h3>$25.400</h3>
            </div>
        </div>
    </div>

</div>

@code {

}
