@inherits LayoutComponentBase

<div class="page">

    <div class="sidebar @(Contraido ? "collapsed" : "")">
        <NavMenu Contraido="@Contraido"
                 OnToggle="ToggleSidebar" />
    </div>

    <main>
        @Body
    </main>

</div>

@code {

    private bool Contraido = false;

    private void ToggleSidebar()
    {
        Contraido = !Contraido;
    }

}